<div class= "alert alert-ligth text-center" role="alert">
  ACTIVIDADES
</div>

<div class="alert alert-success text-center" role="alert">
  30 AÑOS FORMANDO JÓVENES EN ELECTRÓNICA Y ELECTRICIDAD
</div>



<div class="card-deck">
    <div class="card">
      <img src="img/actividades/FOTOA.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">EXPOTÉCNICA</h5>
        <p class="card-text">Uno de los grandes eventos que se realizan año tras año en el CCT.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/FOTOB.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TENDAL LITERARIO</h5>
        <p class="card-text">A parte de los eventos técnicos, el CCT también se encuentra a la vanguardia de la tendencia en artes.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/FOTOC.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BAUTISMO</h5>
        <p class="card-text">Todos los postulantes que hayan sido admitidos al CCT, son recibidos con un bautismo.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>