<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width: 300px;">
    <h2>Nuestra Historia</h2>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, placeat molestias. Nemo nihil dolores et
                    maiores deserunt inventore sapiente sequi quidem dolorem impedit? Optio dolor beatae perspiciatis
                    quo, veniam eveniet?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum maxime vel! Porro illo
                    rerum dolore, eaque sapiente repellat iure culpa suscipit, fugiat fuga quis atque laborum, quibusdam
                    dicta commodi.</p>
            </div>

        </div>


    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-success">
            1989
        </button>

    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
 </div>

 <div class="col col-md-2 text-center">
<button class="btn btn-primary">

1994

</button>
 </div>


<div class="col col-md-5">
<div class="card">
<div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Maxime, culpa nisi molestias ullam ducimus tempore est adipisci itaque deserunt
          illum laborum doloribus sit iure corrupti asperiores!
          Fuga minima provident ad!

    </p>

</div>


</div>


</div>


</div>




<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, placeat molestias. Nemo nihil dolores et
                    maiores deserunt inventore sapiente sequi quidem dolorem impedit? Optio dolor beatae perspiciatis
                    quo, veniam eveniet?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum maxime vel! Porro illo
                    rerum dolore, eaque sapiente repellat iure culpa suscipit, fugiat fuga quis atque laborum, quibusdam
                    dicta commodi.</p>
            </div>

        </div>


    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-success">
            1998
        </button>

    </div>
</div>






<div class="row mt-3">
    <div class="col col-md-5">
 </div>

 <div class="col col-md-2 text-center">
<button class="btn btn-primary">

2002

</button>
 </div>


<div class="col col-md-5">
<div class="card">
<div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Maxime, culpa nisi molestias ullam ducimus tempore est adipisci itaque deserunt
          illum laborum doloribus sit iure corrupti asperiores!
          Fuga minima provident ad!

    </p>

</div>


</div>


</div>


</div>







<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, placeat molestias. Nemo nihil dolores et
                    maiores deserunt inventore sapiente sequi quidem dolorem impedit? Optio dolor beatae perspiciatis
                    quo, veniam eveniet?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum maxime vel! Porro illo
                    rerum dolore, eaque sapiente repellat iure culpa suscipit, fugiat fuga quis atque laborum, quibusdam
                    dicta commodi.</p>
            </div>

        </div>


    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-success">
            2006
        </button>

    </div>
</div>



<div class="row mt-3">
    <div class="col col-md-5">
 </div>

 <div class="col col-md-2 text-center">
<button class="btn btn-primary">

2010

</button>
 </div>


<div class="col col-md-5">
<div class="card">
<div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Maxime, culpa nisi molestias ullam ducimus tempore est adipisci itaque deserunt
          illum laborum doloribus sit iure corrupti asperiores!
          Fuga minima provident ad!

    </p>

</div>


</div>


</div>


</div>



<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, placeat molestias. Nemo nihil dolores et
                    maiores deserunt inventore sapiente sequi quidem dolorem impedit? Optio dolor beatae perspiciatis
                    quo, veniam eveniet?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum maxime vel! Porro illo
                    rerum dolore, eaque sapiente repellat iure culpa suscipit, fugiat fuga quis atque laborum, quibusdam
                    dicta commodi.</p>
            </div>

        </div>


    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-success">
            2014
        </button>

    </div>
</div>


<p style="height: 800px;"></p>
<%- include('pie') -%>


