<div class="pie">

<i class="fas fa-copyright"></i> Centro de Capacitación Técnica de Luque  |
<i class="fas fa-map-marked-alt"></i>&nbsp; Mcal. Sucre y La Paz-4to. Barrio | &nbsp;&nbsp;
<i class="fas fa-phone-alt"></i>&nbsp;+595 21 643 411 &nbsp;&nbsp;
</div> 

